<div class="base">
  <h2 class="mb-3">Generar serie Fibonacci</h2>
  <div class="form-group">
    <label for="number-input">Ingrese numero</label>
    <input type="number" id="number-input" placeholder="Cantidad de terminos en la sucesión" class="mt-2 form-control" min="1" [(ngModel)]="number" oninput="this.value = Math.abs(this.value)">
    <small *ngIf="!(number > 0)" class="form-text text-muted">No puede ser menor que 1</small>
  </div>
  <button type="button" class="my-3 btn btn-primary" [disabled]="!(number > 0)" (click)="generate(number)">Generar</button>
  <div class="result">
    <h5 class="my-3">Resultados</h5>
    <div>
      <div class="results" *ngFor="let item of results">{{item}}</div>
    </div>
  </div>
</div>
