/* You can add global styles to this file, and also import other style files */

body {
  background: rgb(0, 122, 201);
  background: -moz-linear-gradient(94deg, rgba(0, 122, 201, 1) 1%, rgba(0, 89, 147, 1) 41%, rgba(0, 63, 105, 1) 100%);
  background: -webkit-linear-gradient(94deg, rgba(0, 122, 201, 1) 1%, rgba(0, 89, 147, 1) 41%, rgba(0, 63, 105, 1) 100%);
  background: linear-gradient(94deg, rgba(0, 122, 201, 1) 1%, rgba(0, 89, 147, 1) 41%, rgba(0, 63, 105, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007ac9", endColorstr="#003f69", GradientType=1);
}
